{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "ie": "11"
      },
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    ["component", {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }, "element-ui"],
    ["component", {
      "libraryName": "mint-ui",
      "style": true
    }, "mint-ui"]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/env"],
      "plugins": ["istanbul"]
    }
  }
}
