{
  "presets": [
    ["@babel/env", {
        "modules": false,
        "targets": { "uglify": true }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-proposal-json-strings",
    "@babel/transform-runtime",
    ["component", {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }, "element-ui"],
    ["component", {
      "libraryName": "mint-ui",
      "style": true
    }, "mint-ui"]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/env"],
      "plugins": ["istanbul"]
    }
  }
}
