{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    ["component", {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }, "element-ui"],
    ["component", {
      "libraryName": "mint-ui",
      "style": true
    }, "mint-ui"]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["istanbul"]
    }
  }
}
